footer {
  a: b;
}
footer div.wrap {
  a: b;
}
footer div.wrap h1 {
  a: b;
}
footer div.wrap h1 a {
  a: b;
}
footer div.wrap h1 ul.sns {
  a: b;
}
footer div.wrap h1 ul.sns li {
  a: b;
}
footer div.wrap h1 ul.sns li a {
  a: b;
}
footer div.wrap h1 ul.fnb {
  a: b;
}
footer div.wrap h1 ul.fnb li {
  a: b;
}
footer div.wrap h1 ul.fnb li a {
  a: b;
}
footer div.wrap h1 p {
  a: b;
}